@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #0F172A;
  --card-bg: #111827;
  --border: #374151;
  --text: #E5E7EB;
  --heading: #FFFFFF;
  --subtext: #c6ccd6;
  --placeholder: #a5a8ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: #222;
}

html {
  scroll-behavior: smooth;
}